<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app" v-cloak>
        <v-app>

            <v-app-bar app v-bind:class="colors[0]">
                <h1 class="pl-4">MUSIFY</h1>
            </v-app-bar>

            <!-- Sizes your content based upon application components -->
            <v-content v-bind:class="colors[1]">

                <!-- Provides the application the proper gutter -->
                <v-container fluid>
                    <v-row>

                        <!-- 3D plot -->
                        <v-col cols="7">
                            <div id="myDiv"></div>
                        </v-col>

                        <v-col cols="5">
                            <v-card class="pa-4" elevation="4" v-bind:class="colors[2]">
                                <v-spacer></v-spacer>
                                <v-row>
                                    <v-select label="Tempo" v-model="tempo" :items="tatums" outlined dense></v-select>
                                </v-row>

                                <v-row>
                                    <v-select label="Loudness" v-model="loudness" :items="tatums" outlined dense>
                                    </v-select>
                                </v-row>

                                <v-row>
                                    <v-range-slider v-model="duration" min=30 max=600 color="black" track-color="grey"
                                        thumb-color="black">
                                    </v-range-slider>
                                    <h2>Duration: {{formatTime}}</h2>
                                </v-row>

                                <v-row cols="1">
                                    <v-flex>
                                        <v-btn @click="sendQuery()" block v-bind:color="colors[1]">GO</v-btn>
                                    </v-flex>
                                </v-row>
                                <v-spacer></v-spacer>
                            </v-card>

                            <!-- SELECTED SONG INFO -->
                            <v-row align-content="end">
                                <v-col cols="12">
                                    <v-card>
                                        <v-card-text>SONG NAME</v-card-text>
                                    </v-card>
                                </v-col>
                            </v-row>

                        </v-col>

                    </v-row>
                </v-container>
            </v-content>

            <v-footer app elevation="10" v-bind:class="colors[0]">
                <v-flex>
                    <p class="text-center">Made at code camp or something &copy; Sherk 2019</p>
                </v-flex>
            </v-footer>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="graph.js"></script>
</body>

</html>